.container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 450px;
    margin:0 auto;
    padding: 24px 16px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .container{
    max-width: 700px;
    gap: 16px;
    }
}