* {
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color:rgb(88, 88, 88);
}
header{
    margin-bottom: 16px;
}
main{
    margin-bottom: 24px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: 500;
}
p,
a{
    font-size: 1.5rem;
}
a{
    color: #2563eb;
    text-decoration: none;
}
a:hover {
    color: #10285d;
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 450px;
    margin:0 auto;
    padding: 24px 16px;
    text-align: center;
}
@media screen and (min-width:768px) {
    h1 {
  font-size: 4rem;
    }
    h2 {
  font-size: 2.5rem;
    }
    p,
    a{
    font-size: 2rem;
    }
    .container{
    max-width: 700px;
    gap: 16px;
    }
}
